section.pb-100
  .container
    .categories
      .title-holder
        h2.title-2 Категорії товарів
      ul.row
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-sofa
            span.categories__text Дивани
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-bed
            span.categories__text Ліжка
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-chair
            span.categories__text Крісла
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-commode
            span.categories__text комоди
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-wardrobe
            span.categories__text Шафи
        li.categories__item.col-6.col-sm-4.col-lg-2
          a.categories__link(href='')
            span.icon-kitchen
            span.categories__text Кухня
    .bed
      ul.row.bed__list
        li.bed__item.col-lg-4
          a.bed__link(href='')
            span.attention-wrap
              span.attention-text Новинка
            picture
              source(srcet='./img/bed-1.webp 1x, ./img/bed-1-2x.webp 2x'
                type='image/webp')
              source(srcet='./img/bed-1.jpg 1x, ./img/bed-1-2x.jpg 2x'
                type='image/jpeg')
              img(src='./img/bed-1.jpg' alt='Ліжко Рамона')
            span.bed__content
              span.bed__info Ліжко Рамона
              span.bed__info 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            span.attention-wrap
              span.attention-text Хіт продаж
              span.attention-text.background-accent.mt-5 Акція
            picture
              source(srcet='./img/bed-2.webp 1x, ./img/bed-2-2x.webp 2x'
                type='image/webp')
              source(srcet='./img/bed-2.jpg 1x, ./img/bed-2-2x.jpg 2x'
                type='image/jpeg')
              img(src='./img/bed-2.jpg' alt='Ліжко Честер')
            span.bed__content
              span.bed__info Ліжко Честер
              span.bed__info 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            picture
              source(srcet='./img/bed-3.webp 1x, ./img/bed-3-2x.webp 2x'
                type='image/webp')
              source(srcet='./img/bed-3.jpg 1x, ./img/bed-3-2x.jpg 2x'
                type='image/jpeg')
              img(src='./img/bed-3.jpg' alt='Ліжко Венеція люкс')
            span.bed__content
              span.bed__info Ліжко Венеція люкс
              span.bed__info 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            span.attention-wrap
              span.attention-text Новинка
            picture
              source(srcet='./img/bed-4.webp 1x, ./img/bed-4-2x.webp 2x'
                type='image/webp')
              source(srcet='./img/bed-4.jpg 1x, ./img/bed-4-2x.jpg 2x'
                type='image/jpeg')
              img(src='./img/bed-4.jpg' alt='Ліжко Імперія')
            span.bed__content
              span.bed__info Ліжко Імперія
              span.bed__info 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            picture
              source(srcet='./img/bed-5.webp 1x, ./img/bed-5-2x.webp 2x'
                type='image/webp')
              source(srcet='./img/bed-5.jpg 1x, ./img/bed-5-2x.jpg 2x'
                type='image/jpeg')
              img(src='./img/bed-5.jpg' alt='Ліжко Адель')
            span.bed__content
              span.bed__info Ліжко Адель
              span.bed__info 8 999 грн
        li.bed__item.col-lg-4
          a.bed__link(href='')
            span.attention-wrap
              span.attention-text Хіт продаж
              span.attention-text.background-accent.mt-5 Акція
            picture
              source(srcet='./img/bed-6.webp 1x, ./img/bed-6-2x.webp 2x'
                type='image/webp')
              source(srcet='./img/bed-6.jpg 1x, ./img/bed-6-2x.jpg 2x'
                type='image/jpeg')
              img(src='./img/bed-6.jpg' alt='Ліжко Атлант')
            span.bed__content
              span.bed__info Ліжко Атлант
              span.bed__info 8 999 грн
    .d-flex.justify-center
      button.main-button В каталог
